.header{
      display: flex;
      justify-content: space-between;
      margin:10px;
      border: 1px solid black;

}
.nav-items>ul{
      list-style-type: none;
      display: flex;
}
.nav-items>ul>li{
      padding: 10px;
}

.logo{
      width: 100px;
}


.card{
      width:200px;
      border: 10px solid violet;
      padding: 10 px;
      margin: 10px;
}
.card>img{
      width: 100%;
}
.resurantlist{
      display: flex;
}